# Email JS
NEXT_PUBLIC_EMAILJS_SERVICE_ID=test
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=test
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=test

# Notion API Credentials
NOTION_API_KEY=test

# 5 Database IDs dari Workspace Notion Kamu
NOTION_AWARDS_DB_ID=test
NOTION_COMPLETIONS_DB_ID=test
NOTION_BLOG_DB_ID=test
NOTION_PROJECTS_DB_ID=test
NOTION_SKILLS_DB_ID=test